@model EditRaceViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using RunGroupWebApp.Data.Enum
@using RunGroupWebApp.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="Edit" class="row g-3" enctype="multipart/form-data">
    <input type="hidden" value="AddressId" id="AddressId" />       <!-- hidden     -->
    <div class="col-md-6">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="RaceCategory" class="form-label">ClubCategory</label>
      
        <select asp-for="RaceCategory" asp-items="@Html.GetEnumSelectList<RaceCategory>()" class="form-select">
            <option selected>Choose...</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for="Address.Street" class="form-label">Street</label>
        <input asp-for="Address.Street" type="text" class="form-control" id="Address.Street">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Address.City" class="form-label">City</label>
        <input asp-for="Address.City" type="text" class="form-control" id="Address.City">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Address.State" class="form-label">State</label>
        <input asp-for="Address.State" type="text" class="form-control" id="Address.State">
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" class="form-control" id="Image" typeof="file" placeholder="Image">
        <div class="col-lg-2 mb-sm-0">
            <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
        </div>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="col-md-12">
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" id="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

